/* Обращение ко всем элементам на странице*/
* {
	color: red;
}
/*Если на страницу добавить новые 
элементы с анологичными тегами, то стили будут применены к каждому из них*/
p {
	color: green;
}

h1 {
	color: blue;
}
/*Данные стили будут пременены только к элементам с соответвующими классами*/
.heading1 {
	text-decoration: underline;
}

.heading2 {
	text-transform: uppercase;
}

/*Можно создать стиль и добавить классы тегам в HTML, 
чтобы, например, поменять размер шрифта*/
.fz20 {
	font-size: 20px;
}

/*ID на странице должен быть уникальным. Если нужно стилизировать элемент-то применить селектор класса,
 а если на элемент нужно добавить какую-то логику-то используется ID*/
#heading {
	font-size: 40px;
	border: 1px solid black;
}

/*Вес селектора равен одному*/
q {
	color: blue;
}
/*Вес селектора 10*/
.simple {
	color: aqua;
}
/*Однако, такой же класс был добавлен и в заголовок <h1>, 
но нам не надо перекрашивать его, поэтому:*/
/*Найди на странице все <q>, проверь, 
что у этих тегов должен быть class="simple" и, после этого, измени их цвет*/
/*Вес селектора 11: 10 класс, 1 тэг, сумма=11*/
q.simple {
	color: red;
}

/*Если теперь мы хотим переопределить цвет цитаты, 
нужно создать селектор весом минимум 12
То есть, мы берем глобальную обертку <body> и говорим, 
что в ней должна быть цитаты с class="simple"
Вес селекторы становится 12!!*/
body q.simple {
	color: fuchsia;
}
