/*Групповые сеоектора. Перечисление*/
h1,
h2,
span {
	color: red;
}

/*Селектор потомка
<div> родитель первого параграфа
<p> является потомком <div>
Стили будут пременены к последнему тегу в этой цепочке*/
div p {
	color: green;
}

/*Три уровня вложенности.
Синий цвет применится к последнему тегу в цепочке*/
div p span {
	color: blue;
}

/*Селектор прямого потомка*/
/*Текст внутри <span>, который является прямым потомком <li>
должен стать жирным.
В этом случаем, именно второй элемент, 
тк он не содержит обертки из <p>, станет жирным.
Если убрать знак >, то оба спана станут жирными, 
так как оба спана являются потомками тега <li>, несмотря на то, 
что в первом случаем у нас есть обертка в качестве <p>.
*/
ul li > span {
	font-weight: bold;
}

/*Следующий потомок или соседний селектор.
Он может выбрать элемент, 
который следует сразу же за указанным элементом.*/
ul li + li {
	color: aqua;
}

/*Следующие элементы.
Стилизация происходит у всех элементов, 
идущих после указанного.
<br> в данном случае является основным, 
и все идущие за ним <p> изменят свой размер и не затронут другие теги <p>, 
неудовлетворяющие данному условию*/
br ~ p {
	font-size: 30px;
}

/*Селектор атрибута.
Сыллки, которые имеют атрибут target получают желтый фон.*/
a[target] {
	background-color: yellow;
}

/*Можно указать како значение атрибута должно быть стилизировано.
Голубой фон полчуат только ссылки, открывающиеся в новом окне,
или которые имеют атрибут target со значением blank*/
a[target="blank"] {
	background-color: blue;
}

/*Частичное сравнивание.
Если указать перед знаком = стрелку вверх^, 
то будет проверяться начало строки*/
a[href^="http://g"] {
	background-color: aqua;
}

/*Если поставить знак $, то будет проверяться с конца.*/
a[href$=".ru"] {
	font-size: 40px;
}

/*Если поставить *, 
то строка будет проверяться на наличие указанных символов.*/
a[href*="yan"] {
    font-size: 30px;
}