a {
	color: black;
	text-decoration: none;
}

a:hover {
	color: red;
}

/*Этот посевдокласс применяется только к ссылкам*/
a:visited {
	color: aqua;
}

a:active {
	color: green;
}

/*Передвижение с помощью таб*/
a:focus {
	font-weight: bold;
}

/*Псевдоэлементы*/
/*first-letter служит для стилизации первой буквы*/
p::first-letter {
	font-size: 40px;
}

/*Первая строка*/
p::first-line {
	text-decoration: underline;
}

/*Выделение текста на странице.
Поддерживает только изменение фона и цвета!!!*/
p::selection {
	background-color: yellow;
	color: red;
}

h1::before {
	content: "This is ";
}

h1::after {
	content: " channel";
}

/*Выбирать определенный элмемент списка*/
.list1 li:first-child {
	color: blue;
}

.list1 li:last-child {
	color: green;
}

/*Каждый четный элемент*/
.list2 li:nth-child(even) {
	color: blue;
}

/*Каждый нечетный элемент*/
.list2 li:nth-child(odd) {
	color: green;
}

/*перекрасит 6 и 3 элементы списка*/
.list2 li:nth-child(6) {
	color: black;
}
.list2 li:nth-child(3) {
	color: fuchsia;
}

/*каждому третьему элементу начиная с первого*/
.list3 li:nth-child(3n+1) {
	color: green;
	text-transform: uppercase;
}

/*каждому четвертому элементу начиная со второго*/
.list3 li:nth-child(4n+2) {
	border: 1px solid black;
}

.text span:last-of-type {
	color: green;
}

.text span:nth-of-type(2) {
	border: 1px solid black
}

/*Псевдоклассическое отрицание not.
Позволяет выбрать что-нибудь, отличное от другого.
Добавь обводку всем элементам списка, за исключением тех,
у которых есть класс item*/
.list4 li:not(.item) {
	border: 1px solid blue;
}


